.main_container {
    margin: 0 auto;
    width: fit-content;
}

.site_header {
    height: 32px;
    text-align: center;
}

.site_title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.5em;
}
